@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}
.header {
    background-image: radial-gradient(#fff,#fddc69);
    height: 100vh;
}
.container {
    max-width:1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.navbar {
    display:flex;
    align-items: center;
    padding: 20px;
}
nav {
    flex: 1;
    text-align: right;
}
nav ul {
    display: inline-block;
    list-style-type: none;
}
nav ul li {
    display: inline-block;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #555;
}
nav ul li a:hover {
    border-bottom: 1px solid;
    padding-bottom: 5px;
    color: #000;
}
.iconbtn {
    margin-right: 10px;
    color: #555;
}
.iconbtn:hover {
    cursor: pointer;
    color: black;
}
p {
    color: #555;
}
.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img {
    max-width: 100%;
    margin-left: 50px;
}
.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn {
    display: inline-block;
    background: #d9a902;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover {
    background: #785e01;
}
.active {
    border-bottom: 1px solid;
    padding-bottom: 5px;
    color: #000;
}

/* -----------Bestsellers------------ */

.title {
    text-align: center;
    margin: 50px auto 40px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after {
    content:'';
    background: #d9a902;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    transition: transform 0.5s;
}
.col-4 img {
    width: 100%;
}
h4 {
    color: #555;
    font-weight: normal;
}
.col-4 p {
    font-size: 14px;
}
.rating .material-icons-outlined {
    color: #d9a902;
}
.col-4:hover {
    transform: translateY(-10px);
}

/* -----------Exclusive------------ */
.exclusive {
    background-image: radial-gradient(#fff,#fddc69);
    margin-top: 50px;
    padding: 10px 0;
}
.col-2 .exclusive-img {
    padding: 20px;
    margin-left: 10px;
}
small {
    color: #555;
}

/* -----------Top Categories------------ */

.categories {
    margin: 50px 0;
}
.small-container {
    max-width: 1080px;
    margin: auto;
    padding-right: 25px;
    padding-left: 25px;
}
.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width:100%;
}

/* -----------Testimonials------------ */
.testimonials {
    padding-bottom: 50px;
}
.testimonials .col-3 {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
    transition: transform .5s;
}
.fa.fa-quote-left {
    font-size: 34px;
    color:#d9a902;
}
.testimonials .col-3 img {
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonials .col-3:hover {
    transform: translateY(-10px);
}
.testimonial-quote {
    font-size: 34px;
    color: #d9a902;
}
.col-3 p {
    margin: 12px 0;
    font-size: 12px;
    color: #777;
}
.testimonials .col-3 h3 {
    font-weight: 600;
    color: #555;
    font-size: 16px;
}

/* -----------Footer------------ */
.footer {
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer h3 {
    color: #fff;
    margin-bottom: 20px;
}
.f-col {
    min-width: 200px;
    margin-bottom: 20px;
}
.footer-col-1 {
    flex-basis: 20%;
}
.footer-col-2 {
    flex: .8;
    text-align: center;
}
.footer-col-3, .footer-col-4 {
    flex-basis: 20%;
    text-align: center;
}
.footer ul {
    list-style-type: none;
}
.footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 10px 0;
}
.copyright {
    text-align: center;
}
.footer ul li {
    cursor: pointer;
}
.footer ul li:hover {
    color: #fff;
}


/* ----------------Menu Icon------------*/
.icons .menu-icon {
    display: none;
}
@media only screen and (max-width:800px) {
    nav ul {
        position: absolute;
        top: 90px;
        left: 0px;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height .5s;
    }
    nav ul li {
        display: block;
        margin: 10px 50px 10px 0px;
    }
    nav ul li a {
        color: #fff;
    }
    .icons .menu-icon {
        display: inline-block;
    }
}

/* Media Queries */
@media only screen and (max-width:650px) {
    .header {
        height: 100%;
    }
    .row {
        text-align: center;
    }
    .col-2 {
        flex-basis: 100%;
    }
    .col-2 img {
        margin-left: 0;
    }
}